<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Summarization</title>
</head>
<body>
    <h1>File Summarization</h1>
    {% if extracted_text %}
    <h2>Extracted Text:</h2>
    <p>{{ extracted_text }}</p>

    <h2>Summarized Content:</h2>
    <p>{{ summarized_content }}</p>

    <h2>Statistics:</h2>
    <p> {{ statistics }}%</p>

    {% if formatted_text %}
        <h2>Formatted Text:</h2>
        {% if format_choice == 'bullets' %}
            <ul>
                {% for line in formatted_text.split('\n') %}
                    <li>{{ line }}</li>
                {% endfor %}
            </ul>
        {% elif format_choice == 'paragraphs' %}
            {% for line in formatted_text %}
                <p>{{ line }}</p>
            {% endfor %}
        {% else %}
            <p>Invalid format choice</p>
        {% endif %}
    {% endif %}
  {% endif %}
</body>
</html>