<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Summarization</title>
</head>
<body>
    <h1>File Summarization</h1>

    <form action="{{ url_for('summarization_file') }}" method="POST" enctype="multipart/form-data">
        <label for="file">Choose file(s): </label>
        <input type="file" name="file" id="file" accept=".pdf, .docx, .txt, .png, .jpg, .jpeg, .bmp" multiple required>

        <label for="summary_length">Select Summary Length:</label>
        <select name="summary_length" required title="Choose the summary length">
            <option value="Very_Short">Very Short</option>
            <option value="Short">Short</option>
            <option value="Medium">Medium</option>
            <option value="Long">Long</option>
        </select>

        <label for="choice">Select Format Choice:</label>
        <select name="choice" required>
            <option value="bullets">Bullet Points</option>
            <option value="paragraphs">Paragraphs</option>
        </select>

        <button type="submit">Summarize</button>
    </form>

    {% if extracted %}
        <h2>Extracted Text:</h2>
        <p>{{ extracted }}</p>

        <h2>Default Summary:</h2>
        <p>{{ default_summary }}</p>

        <h2>Top Keywords:</h2>
        <ul>
            {% for keyword in top_keywords %}
                <li>{{ keyword }}</li>
            {% endfor %}
        </ul>

        <h2>Statistics:</h2>
        <p>{{ statistics }}%</p>
       

        {% if formatted_text %}
            <h2>Formatted Text:</h2>
            {% if choice == 'bullets' %}
                <ul>
                    {% for line in formatted_text.split('\n') %}
                        <li>{{ line }}</li>
                    {% endfor %}
                </ul>
            {% elif choice == 'paragraphs' %}
                {% for line in formatted_text %}
                    <p>{{ line }}</p>
                {% endfor %}
            {% else %}
                <p>Invalid format choice</p>
            {% endif %}
        {% endif %}
    {% endif %}
</body>
</html>